{% extends 'base2.html' %}
    
{% block content %}
    <h4 class="page-title">
        Cadastrar projeto
    </h4>
    <br/>
    
    <form method=POST enctype="multipart/form-data">
        {% csrf_token %}
      
        {% for field in form %}
        <div class="fieldWrapper">
         
            {{ field.errors }}
            {{ field.label_tag }} 
            
                {{ field }}
            
           
           
            {% if field.help_text %}
              <p class="help" id="{{ field.auto_id }}_helptext">
                {{ field.help_text|safe }}
              </p>
            {% endif %}
        </div>
    {% endfor %}
        <input type="submit" value="Salvar" class="btn btn-secondary">
    </form>
{% endblock %}

{% block scripts %}

{% endblock %}
