{% extends 'base2.html'%}
{% block content %}
   
<h4 class= "page-title">
    Atualizar Relatório
</h4>

{% if submitted %}
        <div class="alert alert-success">
            <strong>Sucesso!</strong>  Relatório autalizado com sucesso.
        </div>
        <div>
        <p>
            <a class="btn btn-primary" href={% url 'gerar-relatorio' relatorio.id %} >
                <i class="bi-file-earmark-word" role="img" aria-label="Baixar"></i> Gerar Relatório
            </a>
            <a class="btn btn-primary" href={% url 'gerencia-relatorios' %} >
                Voltar
            </a>
        </p>
        </div>
{%else%}
    <div class=" shadow p-4 mb-5 bg-body rounded">
        <form method=POST enctype="multipart/form-data">
            {% csrf_token %}
            {{form.as_p}}
            <input type="submit" value="Salvar" class="btn btn-outline-success">
            <a class="btn btn-outline-primary" href ={% url 'gerencia-relatorios'%}> Voltar </a>
            <a onclick="return confirm('Tem certeza que deseja excluir o relatório?');"  class="btn btn-outline-danger" href ={% url 'deletar-relatorio' relatorio.id %}> Excluir </a>

        </form>
    </div>
{%endif%}
{% endblock  %}