{% extends 'base2.html'%}
{% block content %}
    <h4>Gerênciar Relatórios de Projetos</h4>
    <div class=" shadow p-4 mb-5 bg-body rounded">
        <h5 class="panel-title">Projetos</h5>
        {% for projeto in projetos %}
        <div class="card">
            <h5 class="card-header">{{projeto.titulo}}</h5>
            <div class="row">
            <div class="col">   
            <div class="card-body">
            <h5 class="card-title">Status : {{projeto.status}}</h5>
            <p class="card-text"> Quantidade de parcelas: {{projeto.numero_parcelas}}</p>
            <p class="card-text"> Quantidade de relatórios: {{projeto.qtd_relatorios}}</p>
            <p class="card-text"> Parcela atual: {{projeto.ultima_parcela}}</p>
            <div > 
           
                <div class="progress" style="height: 1px; ">
                    <div class="progress-bar" role="progressbar" aria-label="Example 1px high" style="width: {{projeto.percentual}}%;" aria-valuenow={{projeto.percentual}} aria-valuemin="0" aria-valuemax="100"></div>
                </div>
                <div class="progress" style="margin-top:5px;">
                    <div class="progress-bar" role="progressbar" aria-label="Example with label" style="width: {{projeto.percentual}}%" aria-valuenow={{projeto.percentual}} aria-valuemin="0" aria-valuemax="100">{{projeto.percentual}}%</div>
                </div> 
                <div>
                    <p class="text-center">Andamento</p>
                </div>
           
            </div>
             
            <div>
                    
                    <a href={% url 'editar-projeto-relatorio' projeto.id %} class="btn btn-outline-primary">Editar projeto</a>
                    <a href={% url 'deletar-projeto-relatorio' projeto.id%} onclick="return confirm('Tem certeza que deseja excluir o projeto?');"  class="btn btn-outline-danger" >Excluir projeto</a>
            </div>
           
            </div>
            
            </div>
            
           
                    <div class="col">
                    <div class="card-body">
                        
                        <div class="relatorios" >
                            <fieldset class="flex-column d-inline-flex p-2 " style="display: block;
                            margin-inline-start: 2px;
                            margin-inline-end: 2px;
                            padding-block-start: 0.35em;
                            padding-inline-start: 0.75em;
                            padding-inline-end: 0.75em;
                            padding-block-end: 0.625em;
                            min-inline-size: min-content;
                            border-width: 2px;
                            border-style: groove;
                            border-color: rgb(192, 192, 192);
                            border-image: initial;
                            margin: 2px;
                            border: 1px solid silver;
                            padding: 8px;
                            border-radius: 4px; ">    
                                                                          
                                <legend style="display: block;
                                padding-inline-start: 2px;
                                padding-inline-end: 2px;
                                border-width: initial;
                                border-style: none;
                                border-color: initial;
                                border-image: initial;
                                padding: 2px;
                                all:revert;
                                ">
                                        Relatórios
                                </legend>
                                <div> 
                                    <a href={% url 'cadastrar-relatorio' projeto.id %} class="btn btn-outline-success">Novo Relatório</a>
                                </div>
                                <div class="input-group ">
                                    <a class="btn btn-outline-success"  href={% url 'cadastrar-relatorio-final' projeto.id %} style="margin-top:10px;margin-bottom:10px;" >
                                        Relatório Final
                                    </a>
                                    {% if projeto.relatorio_final %}
                                        <a href={{projeto.relatorio_final.url}}   type="button" class="btn btn-outline-success"  style="margin-top:10px;margin-bottom:10px;">
                                            <i class="bi-file-earmark-word" role="img" aria-label="Baixar"></i> 
                                        </a>
                                    {% endif %}
                                </div>
                                {% if projeto.qtd_relatorios %}
                                <div>
                                    <a class="btn btn-outline-success dropdown-toggle" data-bs-toggle="collapse" href="#collapse{{projeto.id}}" role="button" aria-expanded="true" aria-controls="collapse{{projeto.id}}">
                                        Todos Relatórios
                                    </a>
                                
                                </div>



                                <div class="collapse hide" id="collapse{{projeto.id}}" style="">
                                    <div class="card " style="padding:3px" >         
                                        <div class="row">
                                            <div >                                                                   
                                                {% for relatorio in projeto.relatorios%}   
                                                <div class="btn-group" style="width:195px;">                                           
                                                    <a href={% url 'editar-relatorio' relatorio.id %} type="button" class="btn btn-outline-info  btn-sm" style="width:140px;  margin-bottom:5px;">
                                                        {{relatorio.parcela}} - {{relatorio.data_vigencia|date:"F Y"}} 
                                                    </a>
                                                    {%if relatorio.doc %}    
                                                    <a href={{relatorio.doc.url}} type="button" class="btn btn-outline-info  btn-sm" 
                                                    style="width:40px;  margin-bottom:5px; white-space:nowrap; overflow:hidden;max-width:40px;border-left:0;">
                                                        <i class="bi-file-earmark-word" role="img" aria-label="Baixar"></i>    
                                                    </a>
                                                    {%else%}
                                                    <a href="" type="button" class="btn btn-outline-info  btn-sm disabled" 
                                                    style="width:40px;  margin-bottom:5px; white-space:nowrap; overflow:hidden;max-width:40px;border-left:0;">
                                                        <i class="bi-file-earmark-word" role="img" aria-label="Baixar"></i>    
                                                    </a>

                                                    {%endif%}

                                                </div>    
                                                {% endfor %}
                                            </div>                                   
                                        </div>
                                    </div>
                                </div>
                                {% endif %}
                        </fieldset>
                        </div>
                    </div>
                </div>
                        
            </div>
            <div class="card-footer text-muted">
                Vigência : {{projeto.vigencia_fim|date:"SHORT_DATE_FORMAT"}}
            </div>
        </div>
        </br>
        {% endfor %}
        
        <a class="btn btn-outline-primary" href={%url 'cadastrar-projeto-relatorio' %}>Novo projeto</a>
        <a class="btn btn-outline-primary" href={%url 'home' %}>Volta</a>
        <br/>

        Página {{ projetos.number }}  
        {% if projetos.number > 3 %}  
            de {{ projetos.last_page }}
        {% endif %}

        <nav aria-label="...">
            <ul class="pagination">
            {% if projetos.number <= 3 %}  
                    <li class="page-item disabled">
                    <a class="page-link"  href=""">Anterior</a>
                {% else %}
                    <li class="page-item">
                    <a class="page-link"  href="?page={{projetos.previous_page_number}}"> Anterior</a>
                {% endif %}
            </li>
            {% for page in projetos.paginator.page_range %}
                {% if projetos.number == page %}        
                        <li class="page-item active">
                            <a class="page-link" href="?page={{page}}">{{page}}</a>
                        </li>
                    {% else %}
                        <li class="page-item">
                            <a class="page-link" href="?page={{page}}">{{page}}</a>
                        </li>
                {% endif %}  
                {% endfor %}           
                {% if projetos.number == projetos.paginator.num_pages %}  
                    <li class="page-item disabled">
                    <a class="page-link"  href=""">Próxima</a>
                {% else %}
                    <li class="page-item">
                    <a class="page-link"  href="?page={{projetos.next_page_number}}">Próxima</a>
                {% endif %}
            </ul>
        </nav>
    </div>
    {% endblock  %}