{% extends 'base2.html' %}
{% load static %}
{% block content %}
    <body>
    <!-- ======= Hero Section ======= -->
      <section id="hero" class="d-flex align-items-center">
   
        <div class="container">
          <div class="row">
            <div class="col-lg-6 d-flex flex-column justify-content-center pt-4 pt-lg-0 order-2 order-lg-1" data-aos="fade-up" data-aos-delay="200">
              <h1>Modelagem Computacional de Soluções de Inteligência Artificial </h1>
              <h2>Laboratório multidisciplinar  do Programa de Pós-Graduação em Modelagem Computacional de Sistemas da Universidade Federal do Tocantins</h2>
              <div class="d-flex justify-content-center justify-content-lg-start">
                <a href="/#portfolio" class="btn-get-started scrollto">Projetos</a>
                <a href="https://www.youtube.com/watch?v=jsd29YgSaM4" class="glightbox btn-watch-video"><i class="bi bi-play-circle"></i><span>Assistir Video</span></a>
              </div>
            </div>
            <div class="col-lg-6 order-1 order-lg-2 hero-img" data-aos="zoom-in" data-aos-delay="200">
              <img src={% static "website/img/ComaisLab.png" %}  class="img-fluid animated" alt="">
            </div>
          </div>
        </div>
      </section><!-- End Hero -->
      <main id="main">
        <!-- ======= Clients Section ======= -->
        <section id="clients" class="clients section-bg">
          <div class="container">
    
            <div class="row align-items-center justify-content-center" data-aos="zoom-in">
    
              <div class="col-lg-2 col-md-4 col-3 d-flex align-items-center justify-content-center">
                <img src={% static "website/img/clients/brasao.png" %} class="img-fluid" alt="Universidade Federal do Tocantins">
              </div>
    
              <div class="col-lg-2 col-md-4 col-3 d-flex align-items-center justify-content-center">
                <img src={% static "website/img/clients/logoPpgmcs.png"%} class="img-fluid" alt="Programa de Pós-Graduação em Modelagem Computacional de Sistemas">
              </div>
    
              <div class="col-lg-2 col-md-4 col-3 d-flex align-items-center justify-content-center">
                <img src={% static "website/img/clients/logo-Fapto.png"%} class="img-fluid" alt="Fundação de Apoio Científico e Tecnológico do Tocantins ">
              </div>
            </div>
          </div>
        </section><!-- End Cliens Section -->
    
        <!-- ======= About Us Section ======= -->
        <section id="about" class="about">
          <br/>
          <div class="container" data-aos="fade-up">
            <div class="section-title">
              <h2>Sobre</h2>
            </div>
            <div class="row content">
              <div class="col-lg-6">
                <p>
                   A missão do laboratório COMAIS(Computational Modeling of Artificial Intelligence Solutions Labs.) é catalisar a colaboração entre pesquisadores, empresas e governo, para formulação de soluções tecnológicas, que possuem seus valores agregados potencializados pelo uso de inteligência artificial.
                </p>
                <p>
                   O COMAIS visa :
                </p>
                <ul>
                  <li><i class="ri-check-double-line"></i>Ser um ambiente que estimule a integração </li>
                  <li><i class="ri-check-double-line"></i> Trabalhar multidisciplinaridade de forma colaborativa e criativa</li>
                  <li><i class="ri-check-double-line"></i> Propiciar a geração de projetos inovadores</li>
                </ul>
              </div>
              <div class="col-lg-6 pt-4 pt-lg-0">
                <p>
                    O laboratório tem em seu portfólio diversos projetos que usam técnicas de Inteligência Artificial. A concepção e modelagem desses projetos requerem uma equipe multidisciplinar, uma vez que são desenvolvidos para aturem e diversas áreas de conhecimento, tais como: judicial, segurança pública, ambiental e social.
                </p>
                <p>
                    Concomitante contribuindo com a comunidade científica, validando aprendizado dos acadêmicos envolvidos e agregando de forma qualitativa e quantitativa em sua produção científica.
                </p>
                
              </div>
            </div>
    
          </div>
        </section><!-- End About Us Section -->
    
        <!-- ======= Why Us Section ======= -->
        <section id="why-us" class="why-us section-bg">
          <div class="container-fluid" data-aos="fade-up">
    
            <div class="row">
    
              <div class="col-lg-7 d-flex flex-column justify-content-center align-items-stretch  order-2 order-lg-1">
    
                <div class="content">
                  <h3>Laboratório de <strong>inteligência artificial</strong> é apresentado ao público</h3>
                  <p>
                    Na última quarta-feira (25), as portas do Laboratório de Computational Modeling of Artificial Intelligence Solutions (Comais), no Câmpus de Palmas, foram abertas oficialmente em uma cerimônia para convidados.

                    A missão do laboratório é catalisar a colaboração entre pesquisadores, empresas e governo, para formulação de soluções tecnológicas, que possuem seus valores agregados e potencializados pelo uso de inteligência artificial. Além disso, criará pontes entre a universidade e a sociedade, promovendo o uso de tecnologias inteligentes para solução de problemas reais de forma mais efetiva.
                  </p>
                  <br/>
                  Fonte: <a href="https://ww2.uft.edu.br/index.php/ultimas-noticias/29942-laboratorio-de-inteligencia-artificial-e-apresentado-ao-publico">www.uft.edu.br</a>
                </div>
              
              </div>
    
              <div class="col-lg-5 align-items-stretch order-1 order-lg-2 img" style='background-image: url({% static "website/img/Comaisedu.jpeg" %});' data-aos="zoom-in" data-aos-delay="150">&nbsp;</div>
            </div>
    
          </div>
        </section><!-- End Why Us Section -->
    
        <!-- ======= Skills Section ======= -->
        <section id="skills" class="skills">
          <div class="container" data-aos="fade-up">
    
            <div class="row">
              <div class="col-lg-6 d-flex align-items-center" data-aos="fade-right" data-aos-delay="100">
                <img src={% static "website/img/ComaisAmbiente.jpeg"%} class="img-fluid" alt="">
              </div>
              <div class="col-lg-6 pt-4 pt-lg-0 content" data-aos="fade-left" data-aos-delay="100">
                <h3>Projeto Metrotins implementa redes de alta velocidade no Tocantins</h3>
                <p >
                  Implantado em Palmas no ano de 2010, o projeto da Rede Metropolitana de Ensino e Pesquisa de Palmas (Metrotins) está exposto na II Feira Tecnológica Universidade e Empresa (Unitec), dentro da Arena do Conhecimento do Sebrae.  A Metrotins é um consórcio sem fins lucrativos e visa oferecer uma rede de alta velocidade com taxas de 1 a 10 Gigabits a custo mais acessível do que o oferecido pela iniciativa privada.<br/>
                  O projeto é uma iniciativa do Ministério da Ciência e Tecnologia (MCT), coordenado pela Rede Nacional de Ensino e Pesquisa (RNP), por meio do professor da Universidade Federal do Tocantins, Gentil Veloso. Seu objetivo é interligar o maior número de instituições públicas, com alta velocidade de transferência de dados e com baixo custo para os órgãos.
                </p><br/>
                Fonte: <a href="https://ww2.uft.edu.br/index.php/ultimas-noticias/26259-projeto-metrotins-implementa-redes-de-alta-velocidade-no-tocantins">https://ww2.uft.edu.br/index.php/ultimas-noticias/26259-projeto-metrotins-implementa-redes-de-alta-velocidade-no-tocantins</a>
    
              </div>
            </div>
    
          </div>
        </section><!-- End Skills Section -->
    
        <!-- ======= Services Section ======= -->
        <section id="services" class="services section-bg">
          <div class="container" data-aos="fade-up">
    
            <div class="section-title">
              <br/>
              <h2>Serviços</h2>
              <p>O laboratório mantém alguns serviços on-line para dá suporte aos pesquisadores da Universidade Federal do Tocantins e parceiros.</p>
            </div>
    
            <div class="row">
              <div class="col-xl-3 col-md-6 d-flex align-items-stretch" data-aos="zoom-in" data-aos-delay="100">
                <div class="icon-box">
                  <div class="icon"><i class="bx bxl-dribbble"></i></div>
                  <h4><a href="http://redcap.comais.uft.edu.br/">RedCap</a></h4>
                  <p>REDCap é uma plataforma web segura para construir e gerenciar bancos de dados e pesquisas online.</p>
                </div>
              </div>
    
              <div class="col-xl-3 col-md-6 d-flex align-items-stretch mt-4 mt-md-0" data-aos="zoom-in" data-aos-delay="200">
                <div class="icon-box">
                  <div class="icon"><i class="bx bx-file"></i></div>
                  <h4><a href="http://pdf.comais.uft.edu.br">Conversor PDF</a></h4>
                  <p>Serviço que converte arquivos pdf para o padrão aberto PDFa e aplica OCR.</p>
                </div>
              </div>
    
              <div class="col-xl-3 col-md-6 d-flex align-items-stretch mt-4 mt-xl-0" data-aos="zoom-in" data-aos-delay="300">
                <div class="icon-box">
                  <div class="icon"><i class="bx bx-tachometer"></i></div>
                  <h4><a href="sr.comais.uft.edu.br">Smart Review</a></h4>
                  <p>Serviço de apoio ao processo de revisão bibliográfica.</p>
                </div>
              </div>
    
              <div class="col-xl-3 col-md-6 d-flex align-items-stretch mt-4 mt-xl-0" data-aos="zoom-in" data-aos-delay="400">
                <div class="icon-box">
                  <div class="icon"><i class="bx bx-layer"></i></div>
                  <h4><a href="http://comais.uft.edu.br/registro_ocorrencias">Apoio técnico</a></h4>
                  <p>Registo de solicitação de apoio técnico em Pesquisas.</p>
                </div>
              </div>
    
            </div>
    
          </div>
        </section><!-- End Services Section -->
    
        <!-- ======= Cta Section ======= -->
        <section id="cta" class="cta">
          <div class="container" data-aos="zoom-in">
    
            <div class="row">
              <div class="col-lg-9 text-center text-lg-start">
                <h3>RedCap</h3>
                <p> REDCap é um serviço web seguro  usado para construir e gerenciar pesquisas e bancos de dados online. Coleta praticamente qualquer tipo de dados em qualquer ambiente (em conformidade com 21 CFR Part 11, FISMA, HIPAA e GDPR), ele é capaz de dar suporte à captura de dados online e offline para estudos e operações de pesquisa.</p>
              </div>
              <div class="col-lg-3 cta-btn-container text-center">
                <a class="cta-btn align-middle" href="http://redcap.comais.uft.edu.br/">Acessar</a>
              </div>
            </div>
    
          </div>
        </section><!-- End Cta Section -->
    
        <!-- ======= Portfolio Section ======= -->
        <section id="portfolio" class="portfolio">
          <div class="container" data-aos="fade-up">
    
            <div class="section-title">
              <h2>Projetos</h2>
              <p>Conheça algumas das iniciativas apoiadas pelo COMAIS.</p>
            </div>
    
            <ul id="portfolio-flters" class="d-flex justify-content-center" data-aos="fade-up" data-aos-delay="100">
              <li data-filter="*" class="filter-active">Todos</li>
              {%for tipo in tipos %}
              <li data-filter=.{{tipo.filter}}>{{tipo.type}}</li>
              {% endfor%}
            </ul>
    
            <div class="row portfolio-container" data-aos="fade-up" data-aos-delay="200">
              {%for projeto in projetos%}
              
              <div class="col-lg-4 col-md-6 portfolio-item
                          {% for tipo in projeto.type.all %}
                          {{tipo.filter}}
                          {% endfor %}             
                ">
                
                <div class="portfolio-img"><img src={{projeto.image1.url}} class="img-fluid" alt=""></div>
                <div class="portfolio-info">
                  <h4>{{projeto.name}}</h4>
                  <p>{{projeto.title}}</p>
                  <a href={{projeto.image1.url}} data-gallery="portfolioGallery" class="portfolio-lightbox preview-link" title="App 1"><i class="bx bx-plus"></i></a>
                  <a href="/projetos/{{projeto.id}}" class="details-link" title="More Details"><i class="bx bx-link"></i></a>
                </div>
              </div>
              {%endfor%}

            </div>
    
          </div>
        </section><!-- End Portfolio Section -->
    
        <!-- ======= Team Section ======= -->
        <section id="team" class="team section-bg">
          <div class="container" data-aos="fade-up">
    
            <div class="section-title">
              <h2>Equipe</h2>
              
            </div>
    
            <div class="row">
    
              <div class="col-lg-6">
                <div class="member d-flex align-items-start" data-aos="zoom-in" data-aos-delay="100">
                  <div class="pic"><img src={% static "website/img/team/david.png"%} class="img-fluid" alt=""></div>
                  <div class="member-info">
                    <h4>Dr. David Nadler</h4>
                    <span>Coordenador do Laboratório</span>
                    <p><a href="http://buscatextual.cnpq.br/buscatextual/visualizacv.do?id=K4733551U9&tokenCaptchar=03ANYolqsXhdXIKoXj0tex1NblmOjSoRFtyQUOeL65JAfXPtl_X80gpCjo-JZftmeDHsOzBpJbBlafOD5BXg1Z_fyDY-KcnJTiuTcU-5a4KQmF5_zUMesDuvculK3XqCPvRs9Gl0BLN_WBkePmrFZQIcE61yDH9GYduX41x-rPaezk2O6mKjlMykjoZ1LFfqXdRp51zDvs-EFC2kFYDir5cZ9sBNinPwLgmBtifHsSSg-rODF3gq1DTSV3t2z3alLlEk3eMQshIm6cHSiurYRVLDIkFlD7_jqXaDoQrmFYyEnhliHYPGOQxH4BIRKQOPs57VDcwyxrLyUM6ZuGeIiFLecCNq_AVaC0nFbkMGPu9XDmWl--AlvBOtmYZgAiYwqkssUCf1JlQYdtIPcZHSnmhzEzwvkI0-7cORTRxyo2x4Xz48O9ZccRH9DbclzxIc2NEbJFS0jsYLYm15Ia2dblvXa7JMUUutaXfw" >

                    Currículo Lattes </p></a>
                    <div class="social">
                      <a href=""><i class="ri-twitter-fill"></i></a>
                      <a href=""><i class="ri-facebook-fill"></i></a>
                      <a href=""><i class="ri-instagram-fill"></i></a>
                      <a href=""> <i class="ri-linkedin-box-fill"></i> </a>
                    </div>
                  </div>
                </div>
              </div>
    
              <div class="col-lg-6 mt-4 mt-lg-0">
                <div class="member d-flex align-items-start" data-aos="zoom-in" data-aos-delay="200">
                  <div class="pic"><img src={% static "website/img/team/gentil.jpg"%} class="img-fluid" alt=""></div>
                  <div class="member-info">
                    <h4>Dr. Gentil Veloso Barbosa</h4>
                    <span>Professor e pesquisador</span>
                    <a href ='http://lattes.cnpq.br/41951028979735' ><p>Currículo Lattes</p></a>
                    <div class="social">
                      <a href=""><i class="ri-twitter-fill"></i></a>
                      <a href=""><i class="ri-facebook-fill"></i></a>
                      <a href=""><i class="ri-instagram-fill"></i></a>
                      <a href=""> <i class="ri-linkedin-box-fill"></i> </a>
                    </div>
                  </div>
                </div>
              </div>
    
              <div class="col-lg-6 mt-4">
                <div class="member d-flex align-items-start" data-aos="zoom-in" data-aos-delay="300">
                  <div class="pic"><img src={% static "website/img/team/marcelo.jpg"%} class="img-fluid" alt=""></div>
                  <div class="member-info">
                    <h4>Dr. Marcelo Lisboa Rocha</h4>
                    <span>Professor e Pesquisador</span>
                    <a href =' http://lattes.cnpq.br/8909823430980265' ><p>Currículo Lattes</p></a>
                    <div class="social">
                      <a href=""><i class="ri-twitter-fill"></i></a>
                      <a href=""><i class="ri-facebook-fill"></i></a>
                      <a href=""><i class="ri-instagram-fill"></i></a>
                      <a href=""> <i class="ri-linkedin-box-fill"></i> </a>
                    </div>
                  </div>
                </div>
              </div>
    
              <div class="col-lg-6 mt-4">
                <div class="member d-flex align-items-start" data-aos="zoom-in" data-aos-delay="400">
                  <div class="pic"><img src={% static "website/img/team/roger.jpeg" %} class="img-fluid" alt=""></div>
                  <div class="member-info">
                    <h4>Rogério Nogueira</h4>
                    <span>Analista e Pesquisador</span>
                    <p><a href ='http://lattes.cnpq.br/1141051053490143' >Currículo Lattes</a></p>
                    <div class="social">
                      <a href="https://twitter.com/roger_nogueira"><i class="ri-twitter-fill"></i></a>
                      <a href="https://www.facebook.com/rogerio.nogueira.140"><i class="ri-facebook-fill"></i></a>
                      <a href="https://www.instagram.com/roger_nogueira/"><i class="ri-instagram-fill"></i></a>
                      <a href="https://www.linkedin.com/in/rog%C3%A9rio-nogueira-9b304a47/"> <i class="ri-linkedin-box-fill"></i> </a>
                    </div>
                  </div>
                </div>
              </div>
    
            </div>
    
          </div>
        </section><!-- End Team Section -->
    
       
        <!-- ======= Contact Section ======= -->
        <section id="contact" class="contact">
          <div class="container" data-aos="fade-up">
    
            <div class="section-title">
              <h2>Contato</h2>
              
            </div>
    
            <div class="row">
    
              <div class="col-lg-5 d-flex align-items-stretch">
                <div class="info">
                  <div class="address">
                    <i class="bi bi-geo-alt"></i>
                    <h4>Localização:</h4>
                    <p>Quadra 109 Norte, Avenida NS-15,
                      ALCNO-14, Bloco III, Sala 105,  Plano Diretor Norte
                      Palmas/TO</p>
                  </div>
    
                  <div class="email">
                    <i class="bi bi-envelope"></i>
                    <h4>Email:</h4>
                    <p>comais@uft.edu.br</p>
                  </div>
                  <iframe src="https://www.google.com/maps/embed?pb=!1m14!1m8!1m3!1d26418.003900915173!2d-48.35507667391182!3d-10.175796844112822!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x0%3A0x6908f8e88d9f46e1!2sComais%20Labs!5e0!3m2!1spt-BR!2sbr!4v1657227187835!5m2!1spt-BR!2sbr" frameborder="0" style="border:0; width: 100%; height: 290px;" allowfullscreen></iframe>
                </div>
    
              </div>
    
              <div class="col-lg-7 mt-5 mt-lg-0 d-flex align-items-stretch">
                {% if submitted %}
                        <div class="alert alert-success">
                            <strong>Sucesso!</strong> O seu contato foi enviado com sucesso.
                        </div>
                {% else %}

                    <form method=POST action="" >
                        {% csrf_token %} 
                        {{form.as_p}}
                        <button type="submit" class="btn btn-primary">Enviar</button>
                    </form>
                {% endif %}


              </div>
    
            </div>
    
          </div>
        </section><!-- End Contact Section -->
    
      </main><!-- End #main -->
    
      <!-- ======= Footer ======= -->
      <footer id="footer">
        {% include 'footer.html'%}
      </footer><!-- End Footer -->
    
      <div id="preloader"></div>
      <a href="#" class="back-to-top d-flex align-items-center justify-content-center"><i class="bi bi-arrow-up-short"></i></a>
    
      <!-- Vendor JS Files -->
      <script src={% static "website/vendor/aos/aos.js" %}></script>
      <script src={% static "website/vendor/bootstrap/js/bootstrap.bundle.min.js"%}></script>
      <script src={% static "website/vendor/glightbox/js/glightbox.min.js"%}></script>
      <script src={% static "website/vendor/isotope-layout/isotope.pkgd.min.js"%}></script>
      <script src={% static "website/vendor/swiper/swiper-bundle.min.js"%}></script>
      <script src={% static "website/vendor/waypoints/noframework.waypoints.js"%}></script>
      <script src={% static "website/vendor/php-email-form/validate.js"%}></script>
    
      <!-- Template Main JS File -->
      <script src={% static "website/js/main.js"%}></script>
    
    </body>
    
    </html>

{% endblock  %}