{% load static %}
<!--<nav class="navbar navbar-expand-lg navbar-light bg-light"> !-->
  <nav class="navbar navbar-expand-lg navbar-light  bg-light" id="navbar">
    <div class="container-fluid">
      <a class="navbar-brand" href="/#hero">COMAIS</a>
      
      <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <ul class="navbar-nav me-auto mb-2 mb-lg-0">
               
          <li class="nav-item">
            <a class="nav-link active" aria-current="page" href="/#about">Sobre</a>
          </li>
          <li class="nav-item">
            <a class="nav-link active" aria-current="page" href="/#why-us">Notícias</a>
          </li>

          <li class="nav-item">
            <a class="nav-link active" aria-current="page" href="/#portfolio">Projetos</a>
          </li>
          <li class="nav-item">
            <a class="nav-link active" aria-current="page" href="/#services">Serviços</a>
          </li>
          <li class="nav-item">
            <a class="nav-link active" aria-current="page" href="/#team">Equipe</a>
          </li>
          <li class="nav-item">
            <a class="nav-link active" aria-current="page" href="/#contact">Contatos</a>
          </li>
          {% if request.user.is_superuser %}
          <li class="nav-item">
            <a class="nav-link active" aria-current="page" href="/admin/">Admin</a>
          <li class="nav-item">
            <a class="nav-link active" aria-current="page" href="{% url 'update-contatos-list' %}">Gerenciar contatos</a>
          </li>
          <li class="nav-item">
            <a class="nav-link active" aria-current="page" href="{% url 'ocorrencias' %}">Ocorrências</a>
          </li>
          {% endif %}
          <li class="nav-item">
            <a class="nav-link active" aria-current="page" href="{% url 'registro-ocorrencias' %}">Solicitar Serviço</a>
          </li>
          
        </ul>
        
        
        {% if request.user.is_authenticated %} 
        <div class="dropdown">
          <button class="btn btn-primary dropdown-toggle" type="button" id="dropdownMenuButton1" data-bs-toggle="dropdown" aria-expanded="false">
            {{ request.user.username }}
          </button>
          <ul class="dropdown-menu" aria-labelledby="dropdownMenuButton1">
            <li><a class="dropdown-item text-dark" href="{% url 'logout-user' %}">Logout </a></li>
            <li> <a class="dropdown-item text-dark" href="{% url 'perfil' %}">Editar Perfil</a></li>
            {% comment %}  if user is administrator {% endcomment %}
            {% if request.user.is_superuser %}
              <li> <a class="dropdown-item text-dark" href="{% url 'register-user' %}">Adicionar Usuário</a></li>
            {% endif %}
            <li><hr class="dropdown-divider"></li>
            <li><a class="dropdown-item text-dark" href="{% url 'gerencia-publicacoes' %}">Publicações</a></li> 
            <li><a class="dropdown-item text-dark" href="{% url 'gerencia-projetos' %}">Projetos</a></li>
          </ul>
        </div>   
        {% else %}
            <a class="nav-link active" aria-current="page" href="{% url 'login-user' %}">Login</a>  
        {% endif %}
    </div>
  </nav>

<div>
{% if messages %}
        {% for message in messages %}
            <div class="alert alert-{{ message.tags }}">
                {{ message }} 
            </div>
        {% endfor %}  
    
{% endif %}
</div>