{% load static %}
<!--<nav class="navbar navbar-expand-lg navbar-light bg-light"> !-->
  <nav class="navbar navbar-expand-lg navbar-light  bg-light" id="navbar">
    <div class="container-fluid">
      <a class="navbar-brand" href="/#hero">
        <img src={%static 'website\img\logoNavbar_l.png' %} width="100" height="40" >
      </a>
      
      <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <ul class="navbar-nav me-auto mb-2 mb-lg-0">
               
          <li class="nav-item">
            <a class="nav-link " aria-current="page" href="/#about">Sobre</a>
          </li>
          <li class="nav-item">
            <a class="nav-link " aria-current="page" href="/#why-us">Notícias</a>
          </li>
          <li class="nav-item">
            <a class="nav-link " aria-current="page" href="/#publicacoes">Publicações</a>
          </li>

          <li class="nav-item">
            <a class="nav-link " aria-current="page" href="/#portfolio">Projetos</a>
          </li>
          <li class="nav-item">
            <a class="nav-link " aria-current="page" href="/#services">Serviços</a>
          </li>
          <li class="nav-item">
            <a class="nav-link " aria-current="page" href="/#team">Equipe</a>
          </li>
          <li class="nav-item">
            <a class="nav-link " aria-current="page" href="/#contact">Contatos</a>
          </li>
          {% if request.user.is_superuser %}
        

            <a class="nav-link " aria-current="page" href="{% url 'update-contatos-list' %}">Gerenciar contatos</a>
          </li>
          <li class="nav-item">
            <a class="nav-link " aria-current="page" href="{% url 'ocorrencias' %}">Ocorrências</a>
          </li>
          {% endif %}
          <li class="nav-item">
            <a class="nav-link " aria-current="page" href="{% url 'registro-ocorrencias' %}">Solicitar Serviço</a>
          </li>
          
        </ul>
        
        
        {% if request.user.is_authenticated %} 
        <div class="dropdown">
          <a class="nav-link  dropdown-toggle"  id="dropdownMenuButton1" data-bs-toggle="dropdown" aria-expanded="false">
            <div style ="padding-right:3px">
            <svg xmlns="http://www.w3.org/2000/svg" width="30" height="30" fill="currentColor" class="bi bi-person" viewBox="0 0 16 16">
              <path d="M8 8a3 3 0 1 0 0-6 3 3 0 0 0 0 6zm2-3a2 2 0 1 1-4 0 2 2 0 0 1 4 0zm4 8c0 1-1 1-1 1H3s-1 0-1-1 1-4 6-4 6 3 6 4zm-1-.004c-.001-.246-.154-.986-.832-1.664C11.516 10.68 10.289 10 8 10c-2.29 0-3.516.68-4.168 1.332-.678.678-.83 1.418-.832 1.664h10z"></path>
            </svg>
            </div>
              {{ request.user.username }}
          </a>
          <ul class="dropdown-menu" aria-labelledby="dropdownMenuButton1">
            <li><a class="dropdown-item text-dark" href="{% url 'logout-user' %}">Logout </a></li>
            <li> <a class="dropdown-item text-dark" href="{% url 'perfil' %}">Editar Perfil</a></li>
            {% comment %}  if user is administrator {% endcomment %}
            {% if request.user.is_superuser %}
              <li> <a class="dropdown-item text-dark" href="{% url 'register-user' %}">Adicionar Usuário</a></li>
            {% endif %}
            <li><hr class="dropdown-divider"></li>
            <li><a class="dropdown-item text-dark" href="{% url 'gerencia-publicacoes' %}">Publicações</a></li> 
            <li><a class="dropdown-item text-dark" href="{% url 'gerencia-projetos' %}">Projetos</a></li>
            <li><a class="dropdown-item text-dark" href="{% url 'gerencia-relatorios' %}">Relatórios</a></li>
          </ul>
        </div>   
        {% else %}
       
            <a class="" aria-current="page" href="{% url 'login-user' %}">
              <div style ="padding-right:3px">
                <svg xmlns="http://www.w3.org/2000/svg" width="30" height="30" fill="currentColor" class="bi bi-box-arrow-in-right" viewBox="0 0 16 16">
                  <path fill-rule="evenodd" d="M6 3.5a.5.5 0 0 1 .5-.5h8a.5.5 0 0 1 .5.5v9a.5.5 0 0 1-.5.5h-8a.5.5 0 0 1-.5-.5v-2a.5.5 0 0 0-1 0v2A1.5 1.5 0 0 0 6.5 14h8a1.5 1.5 0 0 0 1.5-1.5v-9A1.5 1.5 0 0 0 14.5 2h-8A1.5 1.5 0 0 0 5 3.5v2a.5.5 0 0 0 1 0v-2z"></path>
                  <path fill-rule="evenodd" d="M11.854 8.354a.5.5 0 0 0 0-.708l-3-3a.5.5 0 1 0-.708.708L10.293 7.5H1.5a.5.5 0 0 0 0 1h8.793l-2.147 2.146a.5.5 0 0 0 .708.708l3-3z"></path>
                </svg>
              </div>
              Login
            </a>  
        {% endif %}
    </div>
  </nav>


  {% include 'messages.html' %}
    {% comment %} {% if messages %}
            {% for message in messages %}
            <div class="container-fluid p-0">
              <div class="alert {{ message.tags }} alert-dismissible" role="alert" >
                <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                  <span aria-hidden="True">&times;</span>
                </button>
                {{ message }}
              </div>
            </div>
                
            {% endfor %}  
        
    {% endif %} {% endcomment %}
