{% extends 'base2.html' %}
    
    {% block content %}
        <h4 class= "page-title">
            Solicitação de Serviço
        </h4>
        <br/>
        {% if submitted %}
            <div class="alert alert-success">
                <strong>Sucesso!</strong> Sua solicitação foi registrada.
            </div>

        {% else %}
        <div class=" shadow p-4 mb-5 bg-body rounded">
            <form method=POST action="" >
                {% csrf_token %} 
                {{form.as_p}}
                <button type="submit" class="btn btn-primary">Enviar</button>
            </form>
        </div>
        {% endif %}
    {% endblock %}