

{% extends 'base.html'%}
{% block content %}
<br />
<h1>COMAIS(Computational Modeling of Artificial Intelligence Solutions Labs.)</h1>
<br />
    <p>
    A missão do laboratório COMAIS(Computational Modeling of Artificial Intelligence Solutions Labs.) é catalisar a colaboração entre pesquisadores, empresas e governo, para formulação de soluções tecnológicas, que possuem seus valores agregados potencializados pelo uso de inteligência artificial.
    </p>

    <p>
    Para isso, o laboratório tem em seu portfólio diversos projetos que usam técnicas de Inteligência Artificial. A concepção e modelagem desses projetos requerem uma equipe multidisciplinar, uma vez que são desenvolvidos para aturem e diversas áreas de conhecimento, tais como: judicial, segurança pública, ambiental e social.
    </p>

    <p>
    Criado visando contribuir para a formulação de um ambiente que estimule à integração dessa multidisciplinaridade, de forma colaborativa e criativa, propiciando a geração de projetos inovadores, e concomitante contribuindo com a comunidade científica, validando aprendizado dos acadêmicos envolvidos e agregando de forma qualitativa e quantitativa em sua produção científica.
    </p>    
{% endblock  %}